{% extends "main.html" %}
{% block content %}
    <title>Заявка {{ request.title }}</title>
    <h2>{{ request.title }}</h2>

    <p><strong>Категория:</strong> {{ request.category.name }}</p>
    <p><strong>Статус:</strong> {{ request.get_status_display }}</p>
    <p><strong>Описание:</strong><br>{{ request.description }}</p>
      {% if request.image %}
    <p><strong>Изображение:</strong></p>
    <img src="{{ request.image.url }}" alt="Изображение заявки" style="max-width: 500px; height: auto;">
    {% else %}
    <p><strong>Изображение:</strong> не загружено</p>
    {% endif %}
    <p><strong>Дата заявки:</strong><br>{{ request.created_at|date:"d.m.Y H:i" }}</p>
<div>
    <h3>Комментарии администратора</h3>
    {% if request.design_image %}
     <img src="{{ request.design_image.url }}" class="img" alt="Фото">
    {% else %}
    -
    {% endif %}
    {{ request.admin_comment|default:"-" }}
    <p><a href="{% url 'my_requests' %}">Назад к заявкам</a></p>
</div>
{% endblock %}