{% extends "main.html" %}
{% block content %}
    <h1>Главная страница студии</h1><br>
    <h1>Design Pro</h1>
    <h2>Последние 4 выполненные заявки</h2>
        {% if requests %}
        <ul>
            {% for request in requests %}
            <li>Название: {{ request.title }}</li>
            <li>Категория: {{ request.category }}</li>
            <li>Описание: {{ request.description }}</li>
            <li>Изображение: <img src="{{ request.image.url }}" alt="{{ request.title }}"></li>
            <li>Дата создания: {{ request.created_at }}</li>
            {% endfor %}
        </ul>
        {% else %}
            <p>Нет выполненных заявок!</p>
        {% endif %}
        <p><strong>Принятых в работу заявок:</strong> {{ num_added }}</p>
{% endblock %}