<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
</head>
<body>
    <h2>Вход в аккаунт</h2>

    {% if messages %}
        {% for message in messages %}
            <p><strong>{{ message }}</strong></p>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
            <label>Логин:</label><br>
           {{ form.username }}

            <label>Пароль:</label><br>
            {{ form.password }}


        <button type="submit">Войти</button>
    </form>

    <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
    <p><a href="{% url 'main_page' %}">На главную</a></p>

    <hr>
    <p><small>Тестовый администратор: admin / admin</small></p>
</body>
</html>